.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.pong {
  font-size: larger;
  font-weight: bold;
  animation: 2s linear infinite gaming;
}

@keyframes gaming {
  0% {
    color: #f00;
  }

  20% {
    color: #ff0;
  }

  40% {
    color: #0f0;
  }

  60% {
    color: #0ff;
  }

  80% {
    color: #00f;
  }

  100% {
    color: #f0f;
  }
}
